[user]
	name = Edwin Hoksberg
	email = mail@edwinhoksberg.nl
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
    st = status
    ll = log --graph --oneline --decorate --date=short --pretty=format:'%ad %h %Cgreen%an %Cred%d %Creset%s'
    up = pull --rebase --autostash
[core]
    autocrlf = input
    safecrlf = warn
	excludesfile = ~/.global-gitignore
[commit]
    gpgsign = true
[merge]
	tool = meld
[diff]
	compactionHeuristic = true
